body,textarea,input,select,option{font-size:14px;color:#333;font-family:'微软雅黑',Tahoma,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,textarea,input,select,option,form{margin:0;}
ol,ul,textarea,input,option,th,td{padding:0;}
textarea{overflow:auto;resize:none;}
table{border-collapse:collapse;}
ol,ul{list-style-type:none;}
a{text-decoration:none;outline:none;color:#333;}
a:hover{color: #7974ff;}
a img{border:none;}
img{display:block;}
body{min-width: 1200px;margin: 0 auto;}
.comwid{width: 1200px;margin: 0 auto;}
.left{float: left;}
.right{float: right;}
.clearfix::before,
.clearfix::after{content: "";height: 0;line-height: 0;display: block;visibility: hidden;clear: both;}
.blank{width: 100%;clear: both;height: 10px;}


/*头部信息*/
header{width: 100%;height: 50px;background-color: #f1cf78;position: fixed;top:0;left:0;z-index: 888;}
header .logo h2{display: block;float: left;padding-left: 20px;font-size: 26px;line-height: 50px;}
header .logo img{display: block;float: left;width: 48px;height: 44px;padding: 2px 10px;}
header .logo span{display: block;float: left;margin-left: 25px;line-height: 50px;font-size: 16px;}
header .nav > ul{margin-right: 25px;}
header .nav > ul > li{float: left;}
header .nav > ul > li > a{display: block;padding:0px 15px;line-height: 50px;font-size: 16px;}
header .nav > ul > li .add_arrow{background: url("../images/icon/down_arrow.png") no-repeat 98% center}
header .nav .sec_ul{display: none;}
header .nav .sec_ul li a{padding:5px 15px;display: block;border-bottom: 2px solid #F5F5F5;background-color: #ffff7d;
font-size: 14px;}

/*导航栏目*/
nav{width: 100%;height: 80px;background-color: #fff;margin-top: 55px;}
nav .nav-left{width: 30%;margin-left:20px;}
nav .nav-right{width: 60%;}
nav .change{padding: 0 10px;color: #ff201e;}
nav #citySelect{clear:both;display: none;}
nav #citySelect select{background-color:#fbffbc}
nav form{display:block;float:left;padding-top: 22px;}
nav form input{outline: none;border: none;width: 500px;height: 36px;border-radius: 18px;background: #f1cf78;text-indent: 20px;  font-size: 18px;}
nav form button{border: none;font-size: 20px;outline: none;background-color:#edffa0;}
nav form button:hover{cursor: pointer;}

/*商品信息*/
.bannerbox{background-color:#e4e2cd; }
.banner_left{width: 220px;height: 300px;background-color: #f1cf78;float: left;margin-right: 5px;}
#banner{width: 630px;}
.slideBox .item{width: 630px;}
.banner_right{width: 340px;height: 300px;margin-left: 5px;float:left;/*background: url("../images/login_bg.png") no-repeat 0 center*/}
.banner_right_top{width: 100%;height: 120px;}
.banner_right_top p{float: left;line-height: 120px;font-size: 18px;color: #ff6888;}
.banner_right_top .tou{width: 100px;height: 100px;display:block;border-radius: 50px;float: left;margin-top: 10px;}
.banner_right_top .qiandao{float: left;width: 80px;margin-left: 30px;margin-top: 20px;}
.banner_right_top .qiandao span{display: block;width: 60px;height: 25px;border-radius:4px;background-color:#f1cf78;text-align: center; line-height: 25px;margin-top: 5px;}
.banner_right_middle a{display: block;float:left;width:110px;height: 40px;background-color:#f1cf78; border-right:2px solid #f5f5f5;
font-size: 18px;font-weight: bold;line-height:40px; text-align: center;color: #9b5d20;}
.banner_right_middle a:hover{background-color:#ffed61;}
.banner_right_bottom img{float: left;padding-left: 8px;}
.banner_right_bottom h1{font-size: 18px;color: #686868;margin-bottom: 10px;}
.banner_left .list{margin-top: 10px;}
.banner_left .list h2{float: left;width: 30%;font-size: 16px;margin-left: 5%}
.banner_left .list ul{float: left;display: block;width: 65%}
.banner_left .list ul li{float: left;display: block;width: 50%;font-size: 14px;line-height: 20px;}


/*上新、秒杀*/
.goods{height: auto;padding-bottom:30px;background-color: #f1cf78;}
.hot_search img{width: 100%;height:auto;padding-top: 20px;}
.goods .goods_box{width: 390px;height:auto;padding-bottom:20px;margin-top:20px;background-color: #f6f6f6; float: left;margin-left: 7px;}
.goods .goods_box .up_new_title{width: 100%;height:70px;font-size: 26px;padding-left: 20px;color: #4c4c4c;line-height: 70px;}
.goods .goods_box .up_new_title a{font-size: 20px;padding-left: 30px;}
.goods .up_new_list{margin-left:5px;width: 125px;margin-bottom: 10px;}
.goods .up_new_list img{display:block;margin: 0 auto}
.goods .up_new_list p{text-align: center;color: red;line-height: 26px;}
.goods .up_new_list i{font-style: normal;}
.goods .up_new_list .location{display: block;font-size:12px;background: url("../images/icon/map.png") no-repeat 3px center;padding-left:18px;padding-top: 5px;}


/*秒杀区*/
.count_down{width: 100%;height: 210px;text-align: center;margin-top: 60px;margin-left: 10px;}
.count_down p{font-size: 18px;line-height: 60px;}
.second_kill .cd_span{display: block;float: left;width: 40px;height: 40px;background-color: #cccccc;margin-left: 5px;
font-size: 20px;line-height: 40px;text-align: center;}
.second_kill .cd_span:nth-child(2n-1){background-color: #f6f6f6;}

/*底部信息*/
.footer{height:60px;background-color: #f1cf78;text-align: center}
.footer span{padding-left: 10px;}